.edit-profile__form {
  background-color: #ffffff;
  margin: auto;
  padding: 25px 22px;
  width: 90%;
  max-width: 430px;
  border-radius: 10px;
  box-sizing: border-box;
  position: relative;
}

@media screen and (min-width: 600px) {
  .edit-profile__form {
    padding: 36px;
  }
}
